body {
    background-color: #1b2631;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-style: italic;
    color:#f1c40f;
    font-family: 'Original Surfer', cursive;
}

h2 {
    color: #f1c40f;
    font-size:38px;
    margin-top: 0px;
    font-family: 'Original Surfer', cursive;
}

h3 {
    text-align: left;
    margin-left: 10px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newPurchase {
    width: 250px;
    height: 50px;
    border-style:solid;
    border-radius: 30px;
    border-color: #f1c40f;
    font-size: 16px;
    background-color: transparent;
    color: #f1c40f;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    outline: none;
    font-family: 'Original Surfer', cursive;
  }

#newPurchase:hover {
    box-shadow: 0 0 40px 40px #f1c40f inset;
    color: white;
    outline: none;
  }

#addPurchase {
    font-weight: 700;
    color: white;
    text-decoration: none;
    width: 120px;
    margin-left: 35%;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    outline: none;
    border: none;
    border-radius: 16px;
    font-family: 'Original Surfer', cursive;
  } 

#addPurchase:hover { 
    background: rgb(53, 167, 110);
}

#addPurchase:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

input#purchase {
    font-weight: 650;
    margin-bottom: 10px;
    height: 30px;
    width: 430px;
    font-size:20px;
    border-radius: 2px;
    border: 2px;
    outline: none;
    font-family: 'Original Surfer', cursive;
}

input#daudzums {
    font-weight: 650;
    margin-bottom: 10px;
    height: 30px;
    width: 430px;
    font-size: 20px;
    border-radius: 2px;
    border: 2px;
    outline: none;
    font-family: 'Original Surfer', cursive;
}

#popUp {
    display: none;
    position: fixed;
    background-color: rgb(0, 0 , 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
}

.del {
    width: 70px;
    height: 22px;
    border: solid;
    border-radius: 20px;
    border-color: #e74c3c;
    color: #fff;
    box-shadow: 0 0 40px 40px #e74c3c inset, 0 0 0 0 #e74c3c;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    outline: none;
    margin-top: 45px;
}   

.del:hover {
    box-shadow: 0 0 100px 0 #e74c3c inset, 0 0 10px 4px #e74c3c;
    outline: none;
  }

form {
    background: #1D1B26;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 22.5%;
    height: 27.5%;
}

#iepirkumaList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#x {
    display: flex;
    margin-left: 392.5px;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2;
    outline: none;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Original Surfer', cursive;
}

#x:hover { 
    background: rgb(53, 167, 110);
}

#x:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.iepirkumiS {
    padding: 2px;
    color: ivory;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    border-radius: 15px;
    height: 200px;
    min-width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #1D1B26;
    overflow-wrap: break-word ;
    padding: 10px;
    margin: 10px;
    overflow-wrap: break-word ;
    font-family: 'Original Surfer', cursive;
}